# TeamsFx files
# Ignore all files in env directory except for the sample files
env/*
!env/*.sample

# Ignore the Azure parameters file but allow the sample Azure parameters file
infra/azure.parameters.json
!infra/azure.parameters.json.sample

.localConfigs.testTool
.localConfigs
.notification.localstore.json
.notification.testtoolstore.json
package-lock.json
appPackage/build

# dependencies
node_modules/

# misc
.env
.deployment
.DS_Store

# Ignore .github directory but allow the dependabot configuration
.github/
!.github/dependabot.yml

# Dev tool directories
/devTools/

# Local chat history
history/