{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "resourceBaseName": {
      "value": "${{RESOURCE_SUFFIX}}"
    },
    "webAppSKU": {
      "value": "F1"
    },
    "botDisplayName": {
      "value": "U.S. Tax Assistant"
    },
    "botDescription": {
      "value": "Your friendly neighborhood tax assistant."
    },
    "openAiApiKey": {
      "value": "your-openai-api-key"
    },
    "openAiVectorStoreId": {
      "value": "your-openai-vector-store-id"
    },
    "openAiStoreConversationLogs": {
      "value": "true"
    },
    "botLocationCountry": {
      "value": "YourCountry"
    },
    "botLocationRegion": {
      "value": "YourRegion/State"
    },
    "botLocationCity": {
      "value": "YourCity"
    },
    "botTimezone": {
      "value": "Country/YourTimezone"
    }
  }
}